<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TTS</title>
</head>
<body>
<h1> 支持接口 </h1>
<h2>语音合成</h2>
<div>
    <strong>/tts</strong> | GET / POST(json)
    <a target="_blank" href="/tts?t=岂曰无衣？与子同袍。王于兴师，修我戈矛，与子同仇！岂曰无衣？与子同泽。王于兴师，修我矛戟，与子偕作！岂曰无衣？与子同裳。王于兴师，修我甲兵，与子偕行!&v=zh-CN-XiaoxiaoMultilingualNeural&r=0&p=0&o=audio-24khz-48kbitrate-mono-mp3">try</a>
</div>


<pre>
参数列表：
1. t: 文本内容 (必填)
2. v: 语音名称 (可选), 默认为 zh-CN-XiaoxiaoMultilingualNeural
3. r: 语速 (可选), 默认为 0
4. p: 语调 (可选), 默认为 0
5. o: 输出格式 (可选), 默认为audio-24khz-48kbitrate-mono-mp3
</pre>


<h2>声音列表</h2>

<div>
    <strong>/voices</strong> | GET <a target="_blank" href="/voices?l=zh">try</a>
</div>
<pre>
参数列表：
1. l: 语言区域 (可选), 使用 contains 匹配,如 l=zh
2. d: 显示详细信息 (可选) , 默认为 false, 如需显示详细信息, 请添加参数d , 如 /voices?d
</pre>
</body>
</html>